<button
  type="button"
  class="btn btn-dark"
  data-bs-toggle="modal"
  data-bs-target="#new-idea"
>
  Make suggestion
</button>
<form [formGroup]="newForm" (ngSubmit)="onSubmit()">
  <div class="modal fade" id="new-idea" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New idea</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input
              id="new-title"
              type="text"
              class="form-control"
              formControlName="title"
              required
            />
            <label for="title" class="form-label">Title:</label>
          </div>
          <div class="form-floating mb-3">
            <input
              id="new-subtitle"
              type="text"
              class="form-control"
              formControlName="subtitle"
            />
            <label for="subtitle" class="form-label">Subtitle:</label>
          </div>
          <div class="form-floating mb-3">
            <textarea
              id="new-text"
              type="text"
              class="form-control"
              formControlName="text"
            ></textarea>
            <label for="new-text" class="form-label">Text:</label>
          </div>
          @for (motion of motions.controls; track motion; let last=$last,
          i=$index) {
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="new-motion-{{ i }}" />
            <button
              class="btn btn-outline-secondary"
              type="button"
              [hidden]="last"
              (click)="removeMotion(i)"
            >
              <i class="bi bi-trash"></i>
            </button>
            <button
              class="btn btn-outline-secondary"
              type="button"
              [hidden]="!last"
              (click)="addMotion()"
            >
              <i class="bi bi-plus"></i>
            </button>
          </div>
          }
        </div>
        <div class="modal-footer">
          <button
            id="close-new-idea"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-warning" (click)="reset()">
            Reset
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="newForm.invalid || isWaiting()"
          >
            Save changes @if(isWaiting()) {
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            }
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
