<div class="fluid-container mb-5 px-3">
  <nav class="nav nav-underline">
    <a
      class="nav-link"
      routerLink="/list"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >List</a
    >
    <a
      class="nav-link"
      routerLink="/list"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      ><i class="bi bi-caret-left-fill"></i
    ></a>
    <a
      class="nav-link"
      routerLink="/rank"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Rank</a
    >
    <a
      class="nav-link"
      routerLink="/result"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Result</a
    >
  </nav>
</div>
<div class="container">
  <router-outlet />
</div>
