body {
  background-color: #2980b9;
  color: #ecf0f1;
}

a,
a:active,
a:hover {
  color: #ecf0f1 !important;
}

.yay-card {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #ffffff;
}

.nay-card {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}

.nay-card ~ .card {
  background-color: #2c3e50;
  color: #f1c40f;
}
