body {
  background-color: #2980b9;
  color: #ecf0f1;
}

a,
a:active,
a:hover {
  color: #ecf0f1 !important;
}

.do-card {
  background-color: #16a085;
  border-color: #16a085;
  color: #ecf0f1;
}

.dont-card {
  background-color: #c0392b;
  border-color: #c0392b;
  color: #ecf0f1;
}
