@if (idea) {
<div class="card mb-3">
  <div class="card-body position-relative">
    <h5 class="card-title">{{ idea.title }}</h5>
    <h6 class="card-subtitle mb-2" style="opacity: 70%">
      @if (idea.subtitle) {
      {{ idea.subtitle }}
      } @else { &nbsp; }
    </h6>
    @if (idea.motions) {
    <ul>
      @for (motion of idea.motions; track motion) {
      <li>{{ motion }}</li>
      <!-- TODO: add easy to suggest changes monad -->
      }
    </ul>
    }
    <p class="card-text">
      {{ idea.text }}
    </p>
    <!-- trash|add button -->
    <div class="position-absolute top-0 end-0 mx-2 my-2">
      <button
        type="button"
        class="btn btn-outline-secondary rounded-circle border-none"
        (click)="toggleYayNay()"
      >
        @if (idea.yaynay === 'yay') {
        <i class="bi bi-trash"></i>
        } @else if (idea.yaynay === 'nay') {
        <i class="bi bi-plus"></i>
        }
      </button>
    </div>
    <!-- TOOD: add suggest change monad for making a slightly different copy -->
  </div>
</div>
}
